<section class="px-4 relative z-[5] pt-[199px] md:pt-[96px] sm:pt-[96px] max-w-[2164px] mx-auto">
  <div class="max-w-[800px] mx-auto text-center sm:hidden">
    <h2 class="text-[64px] md:text-[32px] font-semibold font-Poppins">
      <span class="app-text-gradient-bg text-transparent bg-clip-text">
        Companions
      </span>
    </h2>
    <div class="text-[20px] md:text-[17px] mt-[40px] md:mt-[24px]">
      Users are provided with various types of companions where each has different avatars – not only natural but animated appearances as well.
    </div>
  </div>
  <div class="sm:mt-0">
    <div class="pt-[100px] md:pt-[60px] px-12 mx-auto flex md:justify-center sm:justify-center md:flex-wrap sm:flex-wrap gap-6 overflow-x-auto pb-12">
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p1.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Diana</div>
          <div class="text-[20px] group-hover:text-[18px]">Biology teacher</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - I can help to study biology better
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p2.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Maria</div>
          <div class="text-[20px] group-hover:text-[18px]">Personal doctor</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - I can give you tips on improving your health
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p3.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Lana</div>
          <div class="text-[20px] group-hover:text-[18px]">Your best friend</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - I could listen to all your stories
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p4.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Max</div>
          <div class="text-[20px] group-hover:text-[18px]">Trainer</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - We can pump up your body together
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p5.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Emilie</div>
          <div class="text-[20px] group-hover:text-[18px]">Stylist</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - With me, you'll be the most stylish person
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="relative rounded-[12px] group transition-transform duration-100 hover:scale-105 hover:cursor-pointer hover:shadow-card box-border hover:outline hover:outline-2 hover:outline-[#1DA1F2] hover:outline-offset-1 overflow-hidden flex items-end bg-cover bg-center bg-[url(/optimized/p6.webp)] w-[310px] h-[457px] min-w-[310px]">
        <div class="absolute top-4 right-4 px-[11px] py-[11px] app-glass-bg rounded-full">
          <img width="27" height="27" src="/loop.svg" alt="loop">
        </div>
        <div class="app-glass-bg -mb-1 w-full p-4">
          <div class="text-white group-hover:text-[24px] text-[30px]">Li</div>
          <div class="text-[20px] group-hover:text-[18px]">Math teacher</div>
          <div class="hidden group-hover:block text-[17px] pl-4 pt-2">
            - Maths exams? I'll help you get a better grade
          </div>
          <div class="flex items-center">
            <div class="-ml-4 h-[2px] bg-white w-full"></div>
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1375 16.8684L13.7478 15.2611L19.0094 20.5363L24.2695 15.2611L25.8798 16.8684L19.0094 23.7554L12.1375 16.8684ZM33.7935 19.0518C33.7935 10.9002 27.1611 4.26782 19.0094 4.26782C10.8578 4.26782 4.22541 10.9002 4.22541 19.0518C4.22541 27.2035 10.8578 33.8359 19.0094 33.8359C27.1611 33.8359 33.7935 27.2035 33.7935 19.0518Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>