---
// import { Icon } from "astro-icon/components";
// import ContentSection from "~/components/content-section.astro";
---

<div class="bg-[url(/bg.png)] relative px-10 pt-[520px] pb-[240px] bg-cover bg-center min-h-[800px] flex items-end">
  <div class="space-y-[40px]">
    <div class="min-h-[100px] font-Poppins max-w-[644px] font-semibold text-white text-[64px] leading-[75px]">
      <span class="app-text-gradient-bg text-transparent bg-clip-text">CompAI</span> – your best
AI generated friend
    </div>
    <div class="max-w-[600px]">
      AI based communication voice avatars, which can be used as different professional assistants – psychologist, fitness coach, nutrition counselor, Wide range of topics communicating Companion
    </div>
  </div>
  <div class="absolute bottom-0 rounded-t-[48px] shadow-layout left-0 w-full bg-app-bg h-[100px]">

  </div>
</div>
