
<div class="pt-[200px] md:pt-[64px] sm:pt-[64px]">
  <div class="space-y-[40px] md:space-y-[24px] max-w-[800px] mx-auto text-center">
    <div class="text-white font-Poppins font-semibold text-[64px] md:text-[32px] sm:text-[32px]">
      Our Team
    </div>
    <div class="text-[20px] md:text-[17px] sm:text-[16px]">
      In the future, artificial intelligence will make daily life easier by providing answers, communication, and consultations for household and professional issues.
    </div>
  </div>

  <div class="flex flex-wrap gap-4 justify-center max-w-[1432px] mt-[72px] md:mt-[24px] sm:mt-[24px] mx-auto">
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/team.png)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Rodrigo Lopez</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
      </div>
    </div>
  </div>
</div>