<div class="pt-[150px]">
  <div class="max-w-[800px] text-center mx-auto">
    <div class="text-[64px] font-Poppins font-semibold app-text-gradient-bg inline">
      Roadmap
    </div>
    <div class="text-[20px] mt-[40px]">
      In the future, artificial intelligence will make daily life easier by providing answers, communication, and consultations for household and professional issues
    </div>
  </div>
</div>
<div class="bg-[url(/bg-roadmap.png)] relative bg-cover min-h-[600px] pt-[170px]">
  <img class="max-w-[710px] mx-auto" src="/cursors.png" alt="">
  <div class="absolute left-[50%] w-[620px] translate-x-[-110%] top-[282px]">
    <div class="text-white text-[32px]">Q4 2023-Q1 2024</div>
    <div class="text-[20px] mt-[20px]">
      <div>
        - AI Development phase 1
      </div>
      <div>
        - Team organization
      </div>
      <div>
        - Web resources development
      </div>
      <div>
        - Social Media Resources
      </div>
    </div>
  </div>
  <div class="absolute right-[50%] w-[620px] translate-x-[160%] top-[530px]">
    <div class="text-white text-[32px]">Q2-Q3 2024</div>
    <div class="text-[20px] mt-[20px]">
      <div>
        - AI Development phase 2
      </div>
      <div>
        - Seed Round Financing
      </div>
      <div>
        - Wallet development and integration
      </div>
    </div>
  </div>
  <div class="absolute left-[50%] w-[620px] -translate-x-[120%] top-[775px]">
    <div class="text-white text-[32px] app-gradient-bg inline p-5">Q2-Q3 2024</div>
    <div class="text-[20px] mt-[30px] bg-app-bg-2 p-4">
      <div>
        - NFT collection development
      </div>
      <div>
        - Financing Round A and B
      </div>
      <div>
        - AI Development phase 2 continuation (design, animation)
      </div>
      <div>
        - Active Community development
      </div>
      <div>
        - Holographic Assistant (HoloAssist) development phase 1
      </div>
    </div>
  </div>
  <div class="absolute right-[50%] w-[620px] translate-x-[160%] top-[1090px]">
    <div class="text-white text-[32px]">Q3 2024-Q1 2025</div>
    <div class="text-[20px] mt-[20px]">
      <div>
        - Active marketing phase
      </div>
      <div>- AICO token listing</div>
      <div>- Animated AI development/Integration final phase</div>
      <div>- Active Community development</div>
      <div>- HoloAssist development phase 2</div>
    </div>
  </div>
  <div class="absolute left-[50%] w-[620px] translate-x-[-110%] top-[1370px]">
    <div class="text-white text-[32px]">Q2-Q4 2025</div>
    <div class="text-[20px] mt-[20px]">
      <div>
        - HoloAssist final development phase
      </div>
    </div>
  </div>
  <div class="absolute right-[50%] w-[620px] translate-x-[160%] top-[1550px]">
    <div class="text-white text-[32px] app-gradient-bg inline p-5">Q4 2025-Q1 2026</div>
    <div class="text-[20px] max-w-[80%] mt-[30px] bg-app-bg-2 p-4">
      <div>
        - HoloAssist sales start
      </div>
    </div>
  </div>
</div>