---
// import { Icon } from "astro-icon/components";
// import ContentSection from "~/components/content-section.astro";
---

<div class="px-4">
  <div>
    <div class="flex justify-center pb-[96px]">
      <img class="max-w-[400px]" src="/logo.png" alt="" />
    </div>
    <div class="mx-auto max-w-[900px] justify-center text-center">
      <div class="text-[48px] font-semibold text-white">What is Companion AI?</div>
      <div class="mt-[24px] text-[20px]">
        In the future, artificial intelligence will make daily life easier by
        providing answers, communication, and consultations for household and
        professional issues
      </div>
    </div>
    <div class="mt-[72px] grid grid-cols-3 gap-6">
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">Fast AI response</div>
        <div class="max-w-[85%] text-[20px]">
          The technology is based on solutions that allow you to get a quick
          response from your interlocutor
        </div>
      </div>
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">
          Natural human behavior
        </div>
        <div class="max-w-[85%] text-[20px]">
          The development of animated avatars aims to maximize the natural
          movements and facial expressions of your AI interlocutors
        </div>
      </div>
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">
          Technological features
        </div>
        <div class="max-w-[85%] text-[20px]">
          The technology is based on solutions that allow you to get a quick
          response from your interlocutor
        </div>
      </div>
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">
          NFT collection of avatars
        </div>
        <div class="max-w-[85%] text-[20px]">
          NFT collection of avatars among which you will be able to choose the
          most suitable options for you
        </div>
      </div>
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">
          Moral and ethical approaches
        </div>
        <div class="max-w-[85%] text-[20px]">
          Moral and ethical approaches to communications. AI is very correct in
          its statements
        </div>
      </div>
      <div
        class="min-h-[400px] space-y-6 rounded-[20px] bg-[url(/card-gradient.png)] bg-cover p-[36px]"
      >
        <div class="text-[24px] font-semibold text-white">
          Communication style
        </div>
        <div class="max-w-[85%] text-[20px]">
          Communication style is matched to the specific features of the
          interlocutor, which become known after the first communications
        </div>
      </div>
    </div>
  </div>
</div>
