<div class="px-4 pt-[200px]">
  <div class="mx-auto max-w-[1600px] overflow-hidden p-[1px] app-border-gradient-bg rounded-[30px]">
    <div class="bg-[url(/whitepaper-bg.png)] rounded-[30px] bg-cover pl-[80px] pr-[40px] flex">
      <div class="pt-[96px]">
        <div class="text-[64px] text-white font-Poppins font-semibold">Whitepaper</div>
        <div class="mt-[40px]">In the future, artificial intelligence will make daily life easier by providing answers, communication, and consultations for household and professional issues</div>
        <button class="mt-[36px] relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[20px] font-medium text-gray-900 rounded-full group bg-gradient-to-br from-[#0B63F6] via-[#9F87FF] via-[#08D5EC] to-[#41F892] group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
          <span class="relative px-[30px] py-[20px] transition-all ease-in duration-75 bg-[#142B3A] rounded-full group-hover:bg-[#142F3A]">
            More details
          </span>
        </button>
      </div>
      <div>
        <img class="max-w-[912px]" src="/whitepaper-cloud.png" alt="">
      </div>
    </div>
  </div>
</div>