---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative mx-auto mt-[150px] pb-[100px] max-w-[1430px] flex justify-between">
  <div>
    <div>
      <div class="text-[64px] font-Poppins font-semibold text-white">Join our community</div>
      <div class="text-[20px] mt-[40px]">Follow the latest news from our company on our social networks</div>
    </div>
    <div class="mt-[100px]">
      <ul class="flex space-x-4">
        <li><img src="/facebook.svg" alt=""></li>
        <li><img src="/twitter.svg" alt=""></li>
        <li><img src="/discord.svg" alt=""></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col">
    <div>
      <img class="max-w-[400px] mt-[10px]" src="/logo.png" alt="">
    </div>
    <ul class="flex space-x-4 justify-end mt-auto text-[#B1B1B1]">
      <li>FAQ</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
</footer>
<div class="text-center text-[16px] text-[#B1B1B1] pb-[100px]">
  Companion LCC
</div>
